body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color:palegoldenrod;
    color: white;
}
.jumbotroncopy{
    display:flex;
    background-image: url(../image/photo-modified.png);
    background-size: cover;
}   
.nav{
    position: relative;
    bottom: 10px;
}
.navbarcopy{

}